#customnav, #customheader h1, #customheader figure {
 display: inline-block;
 margin: 0;
 vertical-align: middle;
}

#customnav {
 width: 20%;
 list-style-type: none;
 padding: 0;
 margin: 0;
}

#customnav li {
 padding: 5px 20px;
}

#stripe1 {background:linear-gradient(.25turn, #D52D00, 90%, transparent);}
#stripe2 {background:linear-gradient(.25turn, #EF7627, 80%, transparent);}
#stripe3 {background:linear-gradient(.25turn, #FF9A56, 70%, transparent);}
#stripe4 {background:linear-gradient(.25turn, #FFFFFF, 60%, transparent);}
#stripe5 {background:linear-gradient(.25turn, #D162A4, 70%, transparent);}
#stripe6 {background:linear-gradient(.25turn, #B55690, 80%, transparent);}
#stripe7 {background:linear-gradient(.25turn, #A30262, 90%, transparent);}

#customnav a {
 color: #fff;
 letter-spacing: 2px;
 font-weight: bold;
 font-size: 14px;
 text-shadow: -1px 0 #A30262, 0 1px #A30262, 1px 0 #A30262, 0 -1px #A30262;
}

#customheader h1 {
 width: 70%;
 color: #D52D00;
 font-family: serif;
 font-variant: small-caps;
 font-size: 36px;
 letter-spacing: .2em;
 text-align: center;
}

figure {
 width: 7%;
 text-align: center;
 color: #D52D00;
}

#avatarimg {
 width: 75px;
 border-radius: 50%;
}
