body { 
	background: initial !important;
}

#bodyi, #topbanneri {
	display: none;
}

#menu_holder {
	background: transparent;
}

/* dropdown menu border */
#menu_holder div.menu_dropdown {
	background: #D52D00;
}

/* dropdown menu background */
#menu_holder div.menu_dropdown div.menu_dropdown_inner {
	background: #fff;
}

/* dropdown menu headings */
#menu_holder div.menu_dropdown div.menu_subtitle {
	color: #EF7627 !important;
}
